.proactive-bubble[data-v-7fb04643] {
    word-wrap: break-word !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    margin-top: 5px !important;
    padding: 10px !important;
    word-break: break-word !important
}