a[data-v-6c43b0f4] {
    text-decoration: underline !important
}

.supchatwidget-start[data-v-6c43b0f4] {
    box-sizing: border-box !important;
    overflow-y: auto !important;
    padding: 10px !important
}